<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"  type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
            Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <!--注册类型：type第一部分是类的完全限定名，第二部分是程序集名称-->
    <aliases>
      <add alias="IOrderService" type="MyUnityContainerByConfig.IOrderService,MyUnityContainerByConfig"/>
      <add alias="OrderService1" type="MyUnityContainerByConfig.OrderService1,MyUnityContainerByConfig"/>
      <add alias="OrderService2" type="MyUnityContainerByConfig.OrderService2,MyUnityContainerByConfig"/>
    </aliases>
    <containers>
      <!--MyContainer是自定义的容器名称-->
      <!--type是接口名称，mapTo是注入的对象名称，name是我们要使用的唯一名称，可以自定义-->
      <container name="MyContainer">
        <register type="IOrderService" mapTo="OrderService1" name="MyOrderService1"/>
        <register type="IOrderService" mapTo="OrderService2" name="MyOrderService2"/>
      </container>
    </containers>
  </unity>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>